src/main/mule/azuredevops-demo-prj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b039ecca-b846-4a44-8bc6-4037dbf72ac1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="azuredevops-demo-prjFlow" doc:id="8b9b5028-f67e-4fe9-bc3b-e37e8ea368e5" >
		<http:listener doc:name="Listener" doc:id="9785bd23-d12a-437b-9f7b-90712fee4713" path="/ad" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="893d0301-56e9-487a-9094-33bbbc94b5df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1e3438b1-6c32-4751-9ab2-cdea827320b5" message="#[payload]"/>
	</flow>
</mule>
